@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home_container">
    <h1>Welcome to this To Do App</h1>
    <a href="/ToDoScreen"><button class="btn_play">Play</buttton></button></a>
</div>